*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #3c4039;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all{
 background-color: white;
 position: absolute;
 top: 10em;
 padding: 4em;
 padding-left: 8em;
 padding-right: 8em;
 border-radius: 10px;
}
.head{
  display: flex;
  font-size: 2em;
  margin-bottom: 1em;
}
.head img{
  width: 2em;
  height: 1.5em;
}
.input{
  display: flex;
  margin-bottom: 1em;
  position: relative;
}
.input input {
  font-size:1.3em;
  padding: 10px;
  font-weight: 14px;
  border: none;
  outline: none;
  background-color: #e8eb34;
  border-radius: 30px;
  padding-left: 30px;
  position: absolute;
  right: -15px;
}
.input button{
  font-size: 0.7em;
  padding: 16px 50px;
  border-radius: 40px;
  border:none;
  outline: none;
  background-color: red;
  cursor: pointer;
  position: absolute;
  right: -95px;
}
.list{
  margin-top: 5em;
  margin-bottom: -1em;
}
ul{
  display: flex;
  flex-direction: column;
}
ul li{
  display: inline-block;
  list-style: none;
  font-size: 27px;
  margin-bottom: 0.3em;
  margin-left: 0;
  margin-right: 0;
}
ul li::before{
  display: inline-flex;
  margin-right: 0.6em;
  content: '';
  background-image: url(images/unchecked.png);
  width: 28px;
  height: 28px;
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 18px;
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}
.checked{
  text-decoration: line-through;
}
ul li.checked::before{
  background-image: url(images/checked.png);
}
span{
  display: inline;
  cursor: pointer;
  border-radius: 50%;
  background-color: #948765;
  padding: 0.7em;
}

.base{
  display: inline-flex;
  grid-gap: 3em;
}
.error{
  display: none;
  position: absolute;
  top: 13em;
  color: red;
  font-weight: bold;
}
@media screen and (max-width: 600px){
  .all{
   background-color: white;
   position: absolute;
   top: 10em;
   padding: 4em;
   padding-left: 4em;
   padding-right: 4em;
   border-radius: 10px;
  }
  .input input {
    font-size:1em;
    padding: 10px;
    font-weight: 14px;
    border: none;
    outline: none;
    background-color: #e8eb34;
    border-radius: 30px;
    padding-left: 30px;
    position: absolute;
    right: 30px;
  }
  .input button{
    font-size: 0.4em;
    padding: 16px 50px;
    border-radius: 40px;
    border:none;
    outline: none;
    background-color: red;
    cursor: pointer;
    position: absolute;
    right: -35px;
  }
}
